<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS tested with Node.js</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="app">
        <div class="app__header">
            <h3 class="">Title</h3>
            <p class="error">Error!</p>
        </div>
        <form action="/" method="post" class="app__content">
            <div class="input">
                <label for="city">Enter the city name: </label>
                <input type="text" id="city" placeholder="City name..." name="city">
            </div>
            <button class="btn" type="submit">Show weather..</button>
        </form>
    </div>
</body>

</html>